.modal{
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 78%;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 50%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    transform: translateX(-50%);
}

@media (max-width: 600px) {
    .modal{
        width: 100%;
        top: 25%;
    }
}